<div class="row flex-lg-row-reverse align-items-center g-5 py-5 mt-4">
    <div class="col-lg-8 px-5">
        <p class="lead">Hi, I’m Yovan Alvianto</p>
        <h1 class="fw-bold lh-2 mb-3 font-green">Software Developer and <br>Machine Learning Engineer</h1>
        <p class="">with a strong background in crafting innovative solutions and building cutting-edge software.<br>My expertise spans the full software development life-cycle, from initial design and <br>architecture to development, testing, and deployment.</p>
        
    </div>
      
    <div class="col-10 col-sm-8 col-lg-4">
      <img id="profile-pic" src="/images/circle-pic.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
    </div>    
</div>