<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

  <img src="/img/yvnalv-pic2.png" alt="" data-aos="fade-in">

  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h2>Yovan Alvianto</h2>
    <p>I'm a <span class="typed" data-typed-items="Data Scientist, Machine Learning Engineer">Software Engineer</span><span class="typed-cursor typed-cursor--blink"></span></p>
    <div class="social-links">
      <a href="#"><i class="bi bi-twitter-x"></i></a>
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>

</section><!-- /Hero Section -->

<!-- Interests Section -->
<section id="interests" class="interests section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Features</h2>
    <div><span class="description-title">Our Services</span></div>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="features-item">
          <i class="bi bi-code" style="color: #ffbb2c;"></i>
          <h3><a href="" class="stretched-link">Software Development</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="features-item">
          <i class="bi bi-robot" style="color: #5578ff;"></i>
          <h3><a href="" class="stretched-link">Machine Learning</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="features-item">
          <i class="bi bi-app-indicator" style="color: #e80368;"></i>
          <h3><a href="" class="stretched-link">UI/UX Design</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
        <div class="features-item">
          <i class="bi bi-database-fill-add" style="color: #e361ff;"></i>
          <h3><a href="" class="stretched-link">Web Scraping</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="features-item">
          <i class="bi bi-shuffle" style="color: #47aeff;"></i>
          <h3><a href="" class="stretched-link">IoT Development</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
        <div class="features-item">
          <i class="bi bi-star" style="color: #ffa76e;"></i>
          <h3><a href="" class="stretched-link">Computer Vision</a></h3>
        </div>
      </div><!-- End Feature Item -->

      

    </div>

  </div>

</section><!-- /Interests Section -->


