<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

  <!-- <img src="/img/yvnalv-pic2.png" alt="" data-aos="fade-in"> -->

  <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
    <h2>Hi, I'm Yovan Alvianto</h2>
    <p>a <span class="typed" data-typed-items="Data Scientist, Machine Learning Engineer, Software Engineer"></span><span class="typed-cursor typed-cursor--blink"></span></p>
    <div class="social-links">
      <a href="#"><i class="bi bi-twitter-x"></i></a>
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>


</section><!-- /Hero Section -->

<!-- Interests Section -->
<section id="interests" class="interests section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Features</h2>
    <div><span class="description-title">Our Services</span></div>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="features-item">
          <i class="bi bi-graph-up" style="color: #ffbb2c;"></i>
          <h3><a href="" class="stretched-link">Data Science</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="features-item">
          <i class="bi bi-robot" style="color: #5578ff;"></i>
          <h3><a href="" class="stretched-link">Machine Learning</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="features-item">
          <i class="bi bi-code" style="color: #5578ff;"></i>
          <h3><a href="" class="stretched-link">Software Development</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
        <div class="features-item">
          <i class="bi bi-app-indicator" style="color: #e80368;"></i>
          <h3><a href="" class="stretched-link">UI/UX Design</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="features-item">
          <i class="bi bi-database-fill-add" style="color: #e361ff;"></i>
          <h3><a href="" class="stretched-link">Web Scraping</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
        <div class="features-item">
          <i class="bi bi-shuffle" style="color: #47aeff;"></i>
          <h3><a href="" class="stretched-link">IoT Development</a></h3>
        </div>
      </div><!-- End Feature Item -->

      <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="700">
        <div class="features-item">
          <i class="bi bi-crosshair" style="color: #ffa76e;"></i>
          <h3><a href="" class="stretched-link">Computer Vision</a></h3>
        </div>
      </div><!-- End Feature Item -->

      

    </div>

  </div>

</section><!-- /Interests Section -->

<!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Projects</h2>
    <div><span class="description-title">Portfolios</span></div>
  </div><!-- End Section Title -->
  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="bi bi-activity"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Zaiko</h3>
          </a>
          <p>Zaiko is a streamlined inventory management system designed to simplify stock tracking, optimize order processes, and ensure accurate inventory control.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-broadcast"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Scrape Product Prices from E-Commerce Websites</h3>
          </a>
          <p>Automate the process of gathering product details, prices, and availability, helping users make informed purchasing decisions or monitor price changes effortlessly.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-easel"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Movie Recommendation System API</h3>
          </a>
          <p>Deliver personalized movie recommendations with ease. Our API analyzes user preferences, viewing history, and trending data to provide tailored movie suggestions.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-bounding-box-circles"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>TRASHR - Smart Trash Bin</h3>
          </a>
          <p>Integrated with mobile apps, it monitors trash volume and allows remote control for opening. The touchless sensor enables hands-free operation, ensuring hygiene and convenience.</p>
          <a href="service-details.html" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

      <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-calendar4-week"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Velit Doloremque</h3>
          </a>
          <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
          <a href="service-details.html" class="stretched-link"></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-chat-square-text"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Dolori Architecto</h3>
          </a>
          <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
          <a href="service-details.html" class="stretched-link"></a>
        </div>
      </div> -->

    </div>

  </div>

</section><!-- /Services Section -->



