body {
    background-color: #161616;
    font-family: 'Poppins', sans-serif;
    color: #D9D9D9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;  /* Semi-bold */
    color: #D9D9D9;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;  /* Normal */
}

#iconworks {
    color: #03DAC6;
}

/* img #profile-pic {
    
} */

.font-white {
    color:#D9D9D9;
}

.font-white:hover {
    color: #03DAC6;
}

.font-white.active {
    color: #03DAC6;
}

.font-green {
    color: #03DAC6;
}

.lets-talk-button {
    border-radius: 4px;
    background-color: #DCF763;
    color:#121212;
    border: none;
    font-weight: bold;
    padding: 6px 14px;
}

.project-button {
    border-radius: 4px;
    background-color: #DCF763;
    color:#121212;
    border: none;
    font-weight: bold;
    padding: 10px;
    width: 20%;
}

.card-services {
    background-color: #D9D9D9;
    border: solid 4px #BB86FC;
    width: 80%;
    height: 80px;
}

.card-portfolio {
    background-color: rgba(240, 236, 226, 0.1); /* 90% transparent background */
    border: solid 4px #BB86FC;
    width: 80%;
    height: 400px;
    color: #F0ECE2;
}

.portfolio-icon {
    font-size: 16px; /* Adjust the icon size */
    color: #03DAC6;
}

.font-turqoise {
    color: #03DAC6;
}

.font-yellow {
    color: #DCF763;
}

.custom-navbar {
    background-color: #161616;
}

.custom-heroes {
    margin-top: 100px;
}


.label-text {
    font-size: 12px; /* Smaller text for label */
    font-weight: bold; /* Optional: bold text */
}
